---
layout: base.njk
---

<article class="main-article">
  <div class="container container--narrow flow">
    <div>
      <a href="/nastenka" class="link breadcrumb">&larr; Všechny články</a>
    </div>
    <h1 class="article-title">
      {{ title }}
    </h1>
    <figure class="main-article__figure">
      <figcaption>
        {{ date | postDate }}
      </figcaption>
      <figcaption>
        {{ description }}
      </figcaption>
    </figure>

    {{ content | safe }}

     <figure class="main-article__figure">
      <figcaption>
        {{ file1 }}
      </figcaption>
      <figcaption>
        {{ file2 }}
      </figcaption>
      <figcaption>
        {{ file3 }}
      </figcaption>
    </figure>
  </div>
</article>
