---
layout: base.njk
---

<article class="main-article">
  <div class="container container--narrow flow">
    <div>
      <a href="/nastenka" class="link breadcrumb">&larr; Všechny články</a>
    </div>
    <h1 class="article-title">
      {{ title }}
    </h1>
    <figure class="main-article__figure">
      <figcaption>
        {{ date | postDate }}
      </figcaption>
      <figcaption>
        {{ description }}
      </figcaption>
    </figure>

    {{ content | safe }}

     <figure class="main-article__figure">
      {% if file1 %}
        <figcaption>
          &#128206; <a href="{{ file1 }}" target="_blank" class="link files">{{ file1.split('/').pop() }}</a>
        </figcaption>
      {% endif %}
      {% if file2 %}
        <figcaption>
          &#128206; <a href="{{ file2 }}" target="_blank" class="link files">{{ file2.split('/').pop() }}</a>
        </figcaption>
      {% endif %}
      {% if file3 %}
        <figcaption>
          &#128206; <a href="{{ file3 }}" target="_blank" class="link files">{{ file3.split('/').pop() }}</a>
        </figcaption>
      {% endif %}
    </figure>
  </div>
</article>
