<footer class="site-footer">
  <p>
    © {% year %} by <a class="link" href="https://www.linkedin.com/in/ji%C5%99%C3%AD-korejtko-a21916107/" title="Jiří Korejtko" target="blank">Jiří&nbsp;Korejtko</a>
    <br>Všechna práva vyhrazena
  </p>
</footer>