<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <a href="/">
        <img src="/assets/logo.webp" alt="" class="logo" width="240" height="71">
      </a>

      <nav>
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/" title="Úvodní stránka">Úvod</a>
          </li>
          <li>
            <a href="/nastenka/" title="Nástěnka">Nástěnka</a>
          </li>
          <li>
            <a href="/kontakty/" title="Důležité kontakty">Kontakty</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>