<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <a class="logo-link" href="/">
        <span class="logo">
          U STADIONU 728-729
        </span>
      </a>

      <nav>
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/" title="Úvodní stránka">Úvod</a>
          </li>
          <li>
            <a href="/nastenka/" title="Nástěnka">Nástěnka</a>
          </li>
          <li>
            <a href="/kontakty/" title="Důležité kontakty">Kontakty</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>