---
title: Kontakty - U Stadionu
layout: base.njk
---

<div class="section container-small text-center">
  <h1 class="section-title">Kontakty</h1>

  <div class="contacts">
    <p>
      <span>Jmeno Prijmeni</span>
      <span>Vedouci</span>
      <span>Telefon: <a href="tel:+420123456789">+420 123 456 789</a></span>
      <span>Email: <a href="mailto:email@email.com">email@emaikl.com</a></span>
    </p>
    <p>
      <span>Jmeno Prijmeni</span>
      <span>Vedouci</span>
      <span>Telefon: <a href="tel:+420123456789">+420 123 456 789</a></span>
      <span>Email: <a href="mailto:email@email.com">email@emaikl.com</a></span>
    </p>
    <p>
      <span>Jmeno Prijmeni</span>
      <span>Vedouci</span>
      <span>Telefon: <a href="tel:+420123456789">+420 123 456 789</a></span>
      <span>Email: <a href="mailto:email@email.com">email@emaikl.com</a></span>
    </p>
  </div>
</div>