---
title: Články - U Stadionu
layout: base.njk
---

<div class="section container-small text-center">
  <h1 class="section-title">Nejnovější články</h1>
  <ul role="list" class="articles__list flow">
    {%- for post in collections.post | reverse -%}
      {% include 'article-snippet.njk' %}
    {%- endfor -%}
  </ul>
</div>